.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0ece2;
  text-align: center;

  p {
    font-size: 10px;
    display: inline-block;
  }

  a {
    font-size: 10px;
    display: inline-block;
  }
}